/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main {
    padding-top: 60px;
    padding-bottom: 24px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 9pt;
    padding: 4px 8px;
    background-color: #f5f5f5;
}

.container-added-padding {
    padding-bottom: 4px;
}

.container-added-padding-top {
    padding-top: 4px;
}

.top-add-border {
    border-top: 1px #ccc solid;
}
.bottom-add-border {
    border-bottom: 1px #ccc solid;
}

.trigger-mail-open {
    cursor: pointer;
    *cursor: hand; /* OLD IE THING */
}