<?php

return [
	'ini_set' => [
		'display_errors' => 'off',
	],
	'php_func' => [
		'error_reporting' => E_NONE,
	],
	'application' => [
		'action_method' => 'pathinfo',
		'webroot' => '/phpdummymail',
		'approot' => '/phpdummymail/index.php',
	],
	'mails' => [
		'folder' => __DIR__ . '/../../mails',
	],
	'templateer' => [
	    'use_minified_js' => false,
	],
];