<?php // Copy this file to 'config.php' - it should work out of the box, ut just in case, make adjustments accordingly

$appRoot = $webRoot = null;

// Important notice for nginx web service: include 'SCRIPT_NAME' in your server information if you want to use this!
if (isset($_SERVER['SCRIPT_NAME'])) {
	$appRoot = $_SERVER['SCRIPT_NAME']; // CLI does not have 'script name'
	$webRoot = dirname($appRoot);
}

return [
	'ini_set' => [
		'display_errors' => 'on',
	],
	'php_func' => [
		'error_reporting' => E_ALL,
	],
	'application' => [
		'action_method' => 'pathinfo',
		'webroot' => $webRoot,
		'approot' => $appRoot,
		'templates' => BASEDIR . '/app/Http/views',
		'logdir' => BASEDIR . '/../logs',
	],
	'mails' => [
		'folder' => BASEDIR . '/../mails',
	],
	'templateer' => [
		'use_minified_js' => false,
	],
];