<?php

return [
	'ini_set' => [
		'display_errors' => 'on',
	],
	'php_func' => [
		'error_reporting' => E_ALL,
	],
	'application' => [
		'action_method' => 'pathinfo',
		'webroot' => '/phpdummymail',
		'approot' => '/phpdummymail/index.php',
		'templates' => __DIR__ . '/../app/Http/views',
		'logdir' => __DIR__ . '/../../logs',
	],
	'mails' => [
		'folder' => __DIR__ . '/../../mails',
	],
	'templateer' => [
		'use_minified_js' => false,
	],
];